body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(36,0,23,1) 0%, rgba(36,0,23,1) 30%, rgba(255,0,163,1) 100%);}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card{
  width: 100%;
  display: block;
  text-align: center;
}
img{
  width: 28.5%;
  
}

.box {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  background: linear-gradient(90deg, rgba(255,0,163,1) 0%, rgba(36,0,23,1) 100%);
  color: white;
  padding: 12px;
  width: 550px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  
}

.box::before {
  content: "\f13a";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 0, 153, 0.43);
}

.box select option {
  padding: 30px;
}
.images{
  margin-top: 5%;
}